<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Symfony posting{% endblock %}</title>
        <link href="{{ asset("css/style.css") }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset("js/libraries.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
