{% extends "::base.html.twig" %}

{% block title %}List of posts &ndash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of posts</h1>

        <a href="{{ path("post_create") }}" class="btn btn-default btn-sm">Create a post</a>

        <div class="row">
            <div class="col-sm-9">
                {% for post in posts %}
                    {% include "@App/post.item.html.twig" %}
                {% else %}
                    <div class="alert alert-info">
                        There is no posts yet
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-3">
                {% if tags|length > 0 %}
                    <h4>Select a tag</h4>

                    <ul class="post-tags">
                        {% for tag in tags %}
                            <li>
                                <a href="{{ path("posts_by_tag", {tagName: tag.name}) }}" class="btn btn-default btn-xs">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
