{% extends "::base.html.twig" %}

{% block title %}List of posts &ndash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of posts</h1>

        <a href="{{ path("post_create") }}" class="btn btn-default btn-sm">Create a post</a>

        <div class="row">
            <div class="col-sm-9">
                {% for post in posts %}
                    {% include "@App/post.item.html.twig" %}
                {% endfor %}
            </div>

            <div class="col-sm-3">
                <h4>Select a tag</h4>

                <ul>
                    {% for tag in tags %}
                        <li>
                            <a href="{{ path("posts_by_tag", {tagName: tag.name}) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
